#bag{
  width:200px;
  height: 500px;
  background: url(/img/bag.png) center no-repeat;
  background-size: 80%;
  margin: 0 auto;
}
#bag.burst{
  background-image: url(/img/bag-burst.png);
}
#bag-health{
  width: 200px;
  margin: 0 auto 20px auto;
  border: 2px #000 solid;
}
#bag-health div {
  background: crimson;
  height: 20px;
}
#controls{
  width: 200px;
  margin: 0 auto;
}
#controls button{
  margin-left: 20px;
}